# Ignore model checkpoints
checkpoints/
*.pt

# Ignore the dataset cache (it's large and can be regenerated)
data/
*.cache

venv/
__pycache__/
analysis_cache.pkl
graph_Model_*.png
forensics_*_*_*.png
slide_*.png


extraction_output.log